/* work sans font imported */
/* shared style */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800;900&display=swap');

*{
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    border: 0;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.text-light-grey{
    color: #727272;
    font-weight: 400;
}
.section-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    color:#424242;
    font-weight: 500;
}
nav a{
    text-decoration: none;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    color:#131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img{
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;

}
.team-container{
    display: flex;
    align-items: center;
    /* gap: 70px; */
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-title{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}
.of-ours{
    color: #131313;
    font-weight: 700;
}
.team-title-features{
    color: #FF900E;
    font-weight: 700;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}


/* facts related style */
.facts-card-container{
    display: flex;
    /* gap: 124px; */
    justify-content: space-around;
    
}

.card{
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}
.card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
/* sponsor section */
.sponsor{
    text-align: center;
}
.sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.sponsor-img-container img{
    width: 165px;
}
footer{
    text-align: center;
    padding: 30px 240px;
}
.footer-text{
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 0;
}

/* features style */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    
}
.feature-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ten-year-badge{
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    padding: 40px;
}
.ten-year-badge h2{
    font-size: 4rem;
    font-weight: 700;
}




/* responsive media queries */
/* small device */
@media screen and (max-width:576px) {
    nav, 
    .team-container, 
    .facts-card-container,
    .sponsor-img-container,
    .features{
        flex-direction: column;
    }
    header, footer{
        padding: 20px;
    }
    /* team related */
    .team-img-container{
        grid-template-columns: 1fr;
        
    }
    .teams-content{
        padding-right: 30px;
        padding-left: 30px;
    }
    .facts-card-container, .sponsor-img-container{
        gap: 20px;
        padding: 0 20px;
    }
   
}
/* medium device */
@media screen and (min-width:576px)  and (max-width:960px) {
    nav, 
    .team-container,
    .sponsor-img-container{
        flex-direction: column;
    }
    header, footer{
        padding: 20px;
    }
    .team-img-container>img{
        width: 100%;
    }
}